@page
@model Forum.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Ask a Question!</a>
</p>

@foreach (var item in Model.Post)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h3>
                        <a asp-page="./Details" asp-route-id="@item.ID">@item.Title</a>
                    </h3>
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <p>@item.Text</p>
                </td>
            </tr>
        </tbody>
    </table>
}
